<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--BoletoSimples Access Basic Information -->
    <add key="boletosimple-api-version" value="v1" />
    <add key="boletosimple-api-url" value="https://sandbox.boletosimples.com.br/api" />
    <add key="boletosimple-useragent" value="Meu e-Commerce (meuecommerce@example.com)" />

    <!--BoletoSimples Access By Token Information (http://api.boletosimples.com.br/authentication/token/) -->
    <add key="boletosimple-api-token" value="83ccd60a3bde2f2ea5dbab40bd2acaf2d7aa3bc769eb5a9bcb55ceaf0f9c3c3c" />

    <!--BoletoSimples Access By Oauth2 Information (http://api.boletosimples.com.br/authentication/oauth2/) -->
    <add key="boletosimple-api-return-url" value="teste" />
    <add key="boletosimple-api-client-id" value="teste" />
    <add key="boletosimple-api-client-secret" value="teste" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>